/* novy styl pro hezci vzhled*/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #000000;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
#header{
    margin-left: 3%;
    padding: 5%;
    text-align: center;
    float: left;
    width: 50%;

}
#prihlaseni{
    margin-right: 3%;
    float: right;
}

header div nav a{
    display: inline-block;
    color: #f2f2ff;
    text-align: center;

   padding: 14px 16px;


}

nav a:hover{
    background-color: white;
    color: black;
}



/* Style the list inside the menu */

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
table, tr,td{
    border: 1px solid black;



}
table{
    border-collapse: collapse;
}
td{
    text-align: left;
    padding: 10px;
}