body{
    background-color: #ffffff;
    margin: 0;
}
.backgroundpicture{

    width: 100%;
    height: 600px;
    background-image: url("../Pictures/countryside.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;


}

.maincontent{
    min-height: 800px;
    width: 100%;
}
#leftside{

    background-color: #e6e6e6;
    width: 50%;
    height: auto;
    float: left;
    margin: 5px;
    margin-left: 25%;
    margin-top: 5%;
    padding: 10px;
}

#leftsideContact{

    background-color: #e6e6e6;
    width: 25%;
    height: auto;
    float: left;
    margin: 5px;
    margin-left: 10%;
    margin-top: 5%;
    padding: 10px;
}
#under1{
    background-color: #e6e6e6;
    width: 50%;
    height: auto;
    float: left;
    margin: 5px;
    margin-left: 25%;
    padding: 10px;
}

#rightside{
    background-color: #e6e6e6;
    width: 15%;
    height: auto;
    float: left;
    margin: 5px;
    margin-left: 10px;
    margin-top:  5%;
    padding: 10px;
    text-align: center;
}
#rightsideContact{


    width: auto;
    height: auto;
    float: left;
    margin: 5px;
    margin-left: 7%;
    margin-top: 5%;
    padding: 10px;
}
#Gmap{
    width: 800px;
}

@media (max-width: 850px) {
    #rightside{
        margin-left: 2%;
        padding-left:5% ;
        width: 90%;


    }
    #leftside{
        margin-left: 2%;
        padding-left:5% ;
        width: 90%;
    }
    #Gmap{
        width: 100%;
        height: auto;
    }
    #leftsideContact{

        background-color: #e6e6e6;
        width: 80%;
        height: auto;
        float: left;
        margin: 5px;
        margin-left: 10%;
        margin-top: 5%;
        padding: 10px;
        text-align: center;
    }

    #rightsideContact{


        width: auto;
        height: auto;
        float: left;
        margin: 5px;
        margin-left: 7%;
        margin-top: 5%;
        padding: 10px;
    }
}