body, html {
    height: 100%;
    margin: 0;
    background-color: #F5f5f5;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
}
header {
    top:0;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    height: 50px;
}
header nav a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 18px;
}

header nav a:hover{
    background-color: white;
    color: black;
}
#header-web-title {
    color: white;
    font-size: 30px;
    margin: 10px;
}
#header-logo {
    width:20px;
    margin-right: 20px;
}
#hero {
    height: 100%;
    background: url("hero.jpg") no-repeat center;

    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
#hero h1{
    font-size: 5em;
}
#hero a{
    padding: 20px 40px;
    background-color: white;
    border-radius: 5px;
    color: #4a4a4a;
    border: 1px solid white;
    transition: 1s;
}
#hero a:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.full-width-wrapper, main{
    width:960px;
    margin:0 auto;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}